.toolbar-spacer {
  flex: 1 1 auto;
}

.first-button {
  margin-left: 30px;
}

.airplane {
  transform: scale(5);
}

.theme-control {
  align-items: center;
  display: flex;
  justify-content: center;
}
