<mat-toolbar>
  <mat-icon
    svgIcon="airplane"
    class="airplane"
  ></mat-icon>
  <button
    mat-button
    class="first-button"
    routerLink="/home"
  >
    <mat-icon>home</mat-icon>
    Startseite
  </button>
  <button
    mat-button
    routerLink="/office-hours"
  >
    <mat-icon>access_time</mat-icon>
    Bürozeiten
  </button>
  <button
    mat-button
    routerLink="/contact"
  >
    <mat-icon>contacts</mat-icon>
    Kontakt
  </button>
  <span class="toolbar-spacer"></span>
  <div class="theme-control">
    <mat-slide-toggle
      (click)="toggleTheme()"
      checked
    ></mat-slide-toggle>
    <button mat-icon-button>
      @if (themeService.themeSignal() === 'light') {
      <mat-icon>light_mode</mat-icon>
      } @else {
      <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
