<mat-toolbar>
  @if (!(isSmallScreen$ | async)) {
    <mat-icon
      svgIcon="airplane"
      class="airplane"
    ></mat-icon>
    <button
      mat-button
      class="first-button"
      [routerLink]="SLUG_HOME"
    >
      <mat-icon>home</mat-icon>
      Startseite
    </button>
    <button
      mat-button
      [routerLink]="SLUG_OPENING_HOURS"
    >
      <mat-icon>access_time</mat-icon>
      Bürozeiten
    </button>
  }

  @if (isSmallScreen$ | async) {
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="SLUG_HOME">Startseite</button>
    <button mat-menu-item [routerLink]="SLUG_OPENING_HOURS">Bürozeiten</button>
  </mat-menu>

  <span class="toolbar-spacer"></span>
  <div class="theme-control">
    <mat-slide-toggle
      (click)="toggleTheme()"
      checked
    ></mat-slide-toggle>
      @if (themeService.themeSignal() === 'light') {
        <mat-icon>light_mode</mat-icon>
      } @else {
        <mat-icon>dark_mode</mat-icon>
      }
  </div>
</mat-toolbar>
