.contact {
  border: 2px solid #e30018;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 83vh;
  margin: auto;
  padding: 50px;
  row-gap: 25px;
  width: 20%;
}

pre {
  font-family: "Avenir Book", serif;
  font-size: 31px;
  text-align: left;
  white-space: pre-line;
}

mat-icon {
  color: #e30018;
  margin-left: 1.5vh;
  transform: scale(3);
}
