<div class="profile-wrapper">
  <div class="image-container">
    <img
      ngSrc="/profile-picture.jpg"
      alt="Anja Koch Profilbild"
      width="518"
      height="724"
      priority
    />
  </div>

  <div class="text-container">
    <h2>Hallo,</h2>
    <p>
      mein Name ist Anja Koch.<br />
      Seit mehr als 40 Jahren bin ich als Reiseverkehrskauffrau tätig und erfülle eure Urlaubswünsche. Jeder möchte seinen anders gestalten.
    </p>
    <p>
      Mein erster Schritt ist deshalb immer alle Wünsche und Vorstellungen genau herauszufinden und daraus für euch den passenden und perfekte zugeschnittenen Urlaub zusammenzustellen.
    </p>
    <p>
       Ich arbeite zu Hause, meine Bürozeiten findet ihr auf dieser Seite.
    </p>
    <p>
      Bitte kontaktiert mich telefonisch oder per Mail.
    </p>
    <p>
      Sonnige Grüße<br />
      <strong>Anja Koch</strong>
    </p>
  </div>
</div>
