<mat-grid-list
  cols="2"
  rowHeight="1:1"
>
  <mat-grid-tile>
    <img
      ngSrc="/profile-picture.jpg"
      alt="Anja Koch Profilbild"
      width="518"
      height="724"
      priority
    />
  </mat-grid-tile>
  <mat-grid-tile class="text">
    <pre>
      Hallo,

      mein Name ist Anja Koch.
      Seit mehr als 40 Jahren bin ich als Reiseverkehrskauffrau tätig
      und erfülle ihre Urlaubswünsche. Egal ob pauschal oder individuell,
      Flugzeug oder Schiff, Büsum oder Bali....
      Sie werden von mir umfassend beraten und auch bei vermeintlich komplizierten
      Anfragen finden wir zusammen eine Lösung. Durch meine langjährige Erfahrung
      bin ich in der Lage,Ihre Anforderungen schnell umzusetzen und passende
      Angebote für die schönste Zeit im Jahr vorzulegen.

      Bitte kontaktieren Sie mich telefonisch oder per Mail.

      Ihre

      Anja Koch
    </pre>
  </mat-grid-tile>
</mat-grid-list>
