@use "../node_modules/@angular/material/index" as mat;

// Light Theme
$light-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$light-theme-accent: mat.m2-define-palette(mat.$m2-purple-palette, A200, A100, A400);
$light-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
      typography: mat.m2-define-typography-config(),
    )
);

// Dark Theme
$dark-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$dark-theme-accent: mat.m2-define-palette(mat.$m2-purple-palette, A200, A100, A400);
$dark-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
      typography: mat.m2-define-typography-config(),
    )
);

// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #cacaca;

// Light theme variables
$light-bg-color: #d2d2d2;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;

// Dark mode
.dark {
  @include mat.all-component-colors($dark-theme);

  & {
    background-color: $semi-dark-bg-color;
    color: $light-text-color;
  }

}

// Light mode
.light {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: FontAwesome;
  font-weight: bold;
  src: url("/Avenir.ttc") format("truetype");
}
